/* FONT REF
font-family: 'Source Sans Pro', Arial, sans-serif;
font-family: 'Oswald', Arial, sans-serif;
font-family: 'Merriweather', 'Times New Roman', serif; */

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
body {
	background-color: #fff;
	margin: 0 auto;
}

/* Header */
header {
	height: 76px;
	background-color: #000;
	width: 100%;
	overflow: hidden;
	border-bottom: 4px solid #fdf731;
}
h1 {
	font-family: 'Merriweather', 'Times New Roman', serif;
	font-size: 30px;
	color: #fdf731;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
}
.main-nav {
	display: inline-block;
	color: #000;
	margin-left: 20px;
}
nav {
	float: right;
	margin-right: 40px;
	padding-top: 24px;
}
.main-item {
	font-family: 'Oswald', Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.main-item:hover {
	font-family: 'Oswald', Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #fdf731;
	text-decoration: none;
}
.secondary-item {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.secondary-item:hover {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 20px;
	color: #fdf731;
	text-decoration: none;
}

/* Footer */
footer {
	background-color: #000;
	height: 70px;
    margin-bottom:0px;
    position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
}
.footer-text {
	color: #fff;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 20px;
	margin-left: 40px;
	padding-top: 20px;
}


/* Quote */
.quote {
	height: 70px;
	background-color: #c6c6c6;
	text-align: center;
	margin: 0 auto;
}
h2 {
	font-family: 'Merriweather', 'Times New Roman', serif;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #000;
	padding-top: 20px;
}
.quote-taste {
	font-family: 'Merriweather', 'Times New Roman', serif;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: line-through;
	padding-top: 20px;
}
.quote-are {
	font-family: 'Merriweather', 'Times New Roman', serif;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	color: #000;
	padding-top: 20px;
	border-bottom: 2px solid #fdf731;
	text-decoration: none;
}


/* Main Area */
.main-image {
	height: 416px;
	width: 100%;
	background-image: url(../images/coworking.jpg);
	background-size: cover;
	background-position: center;
}
.translucent-container {
	height: 342px;
	width: 482px;
	background-color: rgba(255, 255, 255, 0.85);
	display: inline-block;
	float: right;
	margin-top: 37px;
	margin-right: 40px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.65);
}
h3 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0, 0, 0, 1);
	padding: 60px 40px 20px 40px;
}
.container-para {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, 1);
	padding: 0px 40px 20px 40px;
	line-height: 28px;
	margin-bottom: 20px;
}
.live-button {
	background-color: #fdf731;
	padding: 16px 125px 14px 125px;
	border-radius: 5px;
  	text-decoration: none;
  	text-align: center;
  	margin-left: 40px;
  	font-family: 'Oswald', Arial, sans-serif;
  	color: rgba(0, 0, 0, 1);
  	font-size: 20px;
  	box-shadow: 0px 4px rgba(204, 202, 44, 1);
}

/* Promo Area */
.all-promo-touts {
	width: 100%;
	height: 314px;
	padding: 40px 40px 40px 40px;
	overflow: hidden;
}
.promo-tout {
	width: 30.5%;
	height: 100%;
	margin-right: 2%;
}
.promo-tout-last {
	width: 30.5%;
	height: 100%;
	margin-right: 0px;
}
.vertical-line {
	height: 100%;
	width: 2px;
	background-color: #c6c6c6;
	margin-right: 2%;
}
h4 {
	font-family: 'Merriweather', 'Times New Roman', serif;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0, 0, 0, 1);
	padding-bottom: 5px;
	padding-top: 20px;
}
p {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, 1);
	line-height: 28px;
	padding-bottom: 40px;
}
.gray-button {
	background-color: #c6c6c6;
	padding: 16px 100px 14px 100px;
	border-radius: 5px;
  	text-decoration: none;
  	text-align: center;
  	font-family: 'Oswald', Arial, sans-serif;
  	color: rgba(0, 0, 0, 1);
  	font-size: 20px;
  	box-shadow: 0px 4px rgba(0, 0, 0, .5);
}
.gray-button2 {
	background-color: #c6c6c6;
	padding: 16px 71.5px 14px 71.5px;
	border-radius: 5px;
  	text-decoration: none;
  	text-align: center;
  	font-family: 'Oswald', Arial, sans-serif;
  	color: rgba(0, 0, 0, 1);
  	font-size: 20px;
  	box-shadow: 0px 4px rgba(0, 0, 0, .5);
}

/* Coming Soon */
.coming-soon {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-bottom: 0px;
	background-color: #c6c6c6;
}

/* Developer Page Boxes */
.dev-boxes {
	width: 100%;
	margin: 34px 34px 34px 34px;
	background-color: #c6c6c6;
	overflow: hidden;
}
.dev-single-box {
	height: 840px;
	width: 590px;
	background-color: #fff;
}

